@charset "utf-8";

/* 初期設定
-----------------------------------------------------*/
body, h1, h2, dl, dt, dd, ul, ol, li, p, img{
	margin:0;
	padding:0;
}
div {
	width: 768px;
	margin-left: auto;
	margin-right: auto;
	background-color: floralwhite;
}
h1 {
	font-size: 1.5em;
	padding-top: 15px;
	clear: both;
}

h2 {
	text-align: center;
	border-bottom: 1px solid #000;
	clear: both;
}
.img_right {
	float: right;
	padding-left: 10px;
	padding-top: 10px;
}

table {
	width: 100%;
	border: 1px solid #000;
	background-image: url(img/bg_tile.gif);
}
td {
	text-align: center;
}
.map {
	float:right;
}
.footer_text {
	clear: both;
	text-align: center;
	padding-top: 15px;
}
li {
	list-style: none;
	width: 25%;
	float: left;
}
h1,li {
	text-align: center;
}
span {
	font-size: 0.5em;
}
li a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
